include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head
    link(rel='stylesheet', href= path + 'assets/styleguide.css')

  body
    .hf-styleguide
      header
          .hf-styleguide-title Styleguide
          a.hf-styleguide-linkBack(href="/") Retour sommaire
          nav
            p Atoms
            a(href=pathStyleguide+"atoms/a-button.html") Button
            a(href=pathStyleguide+"atoms/a-input-checkbox.html") Input - Checkbox
            a(href=pathStyleguide+"atoms/a-input-radio.html") Input - Radio
            a(href=pathStyleguide+"atoms/a-input-select.html") Input - Select
            a(href=pathStyleguide+"atoms/a-input-text.html") Input - Text
            a(href=pathStyleguide+"atoms/a-input-textarea.html") Input - Textarea
            a(href=pathStyleguide+"atoms/a-label.html") Labels
            p Molecules
            a(href=pathStyleguide+"molecules/m-content.html") Content
            a(href=pathStyleguide+"molecules/m-form.html") Form 
            a(href=pathStyleguide+"molecules/m-form-inline.html") Form - inline
            p Layout
            a(href=pathStyleguide+"layout/l-grid.html") Grid
            a(href=pathStyleguide+"layout/l-wrapper.html") Wrapper
            p Utils
            a(href=pathStyleguide+"utils/u-layout.html") Layout
            a(href=pathStyleguide+"utils/u-show-hide.html") Show - hide
            a(href=pathStyleguide+"utils/u-spacing.html") Spacing
            a(href=pathStyleguide+"utils/u-text.html") Text
            a(href=pathStyleguide+"utils/u-text-color.html") Text color
            a(href=pathStyleguide+"utils/u-width.html") Width
      main
        section
          block content
      script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
      script(src= path + "assets/app.js", async)
      script.
        var codes = document.querySelectorAll('.js-highlight')
        for ( var i = 0; i < codes.length; ++i) {
          codes[i].textContent = codes[i].innerHTML
        }
        hljs.initHighlightingOnLoad()
